h1 {
  font-style: oblique;
  font-family: sans-serif;
}
p {
  font-size: 3em;
  font-weight: 600;
}
body {
  font-size: 16px;
}
ul li{
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.amarelo {
  background-color: yellow;
}
.vermelho {
  background-color: red;
}
.marrom {
  background-color: brown;
}