html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  display: flex;
}
p {
  padding: 20px;
}

/* PEQUENO */

@media screen and (max-width: 600px){
  body {
    background-color: lightcoral;
    font-family: sans-serif;
  }
  .header-menu {
    display: flex;
  }

  .header-menu p {
   width: 50%;
  }

  .header-menu nav ul {
    display: flex;
  }
  .header-menu nav ul li {
    list-style: none;
    padding-left: 15px;

  }


  .container {
    flex-direction: column;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
}
/* MEDIO */

@media screen and (min-width: 600px){
  body {
    background-color: lightblue;
    font-family: sans-serif;
  }
  
  .container {
    flex-wrap: wrap;
  }
}

/* GRANDE */

@media screen and (min-width: 1000px){
  body {
    background-color: lightgreen;
  }
  
  .container {
    flex-wrap: wrap;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
  }

  .aside-one, .aside-two {
    padding: 0 20px;
  }
}